* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --black: #353535;
  --dark-grey: #707070;
  --light-grey: #e2e2e2;
  --white: #ffffff;
  --darker-blue: #0a1944;
  --dark-blue: #0b1944;
  --blue: #0092fd;
  --ligth-blue: #00e9fb;
  --blue-green: #076a8b;
  --green: #6ee9b2;
  --light-green: #b0e785;

  /* opacity colors */
  --transparent-grey: #00000029;
  --transparent-blue: #0092fd4d;
  --transparent-darker-blue: #0a19444d;

  /* linear gradient */
  --lg-header: var(--transparent-blue), var(--transparent-darker-blue);
  --lg-propuesta: var(--transparent-blue), var(--darker-blue);
}
body {
  scroll-behavior: smooth;
}

section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100vh;
  max-width: 100vw;
  align-items: center;
}

div {
  display: flex;
}

.hero {
  background: linear-gradient(var(--lg-header)), url("assets/header-bike.jpg");
  background-size: cover;
  background-position: right;
  border-radius: 0px 0px 50px 50px;
  border: 1px solid var(--dark-grey);
}

h1,
h2,
h3 {
  font-family: "Segoe UI";
  text-shadow: 0px 3px 6px var(--transparent-grey);
  text-align: center;
  cursor: default;
}

p {
  font-family: "Segoe UI";
  color: var(--black);
}

h1 {
  color: var(--blue);
}

h2 {
  color: var(--darker-blue);
}

h3 {
  color: var(--light-grey);
  font-weight: normal;
  text-align: left;
  align-self: flex-end;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.propuesta div {
  margin: 1rem 0.5rem;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--dark-grey);
}

.apoyo {
  background: linear-gradient(var(--lg-propuesta)),
    url("assets/propuesta-01.jpg");
}

.contenido {
  background: linear-gradient(var(--lg-propuesta)),
    url("assets/propuesta-02.jpg");
}

.contacto {
  background: linear-gradient(var(--lg-propuesta)),
    url("assets/propuesta-03.jpg");
}

iframe {
  border-radius: 20px 20px 20px 20px;
}

.google-play {
  flex-direction: column;
}

.testimonio-row,
.testimonio {
  flex-direction: row;
  justify-content: center;
}

.testimonio-column {
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 1rem;
}

.testimonio-photo {
  width: 10rem;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 6px var(--transparent-grey);
}

.previous,
.next {
  color: var(--darker-blue);
  width: 3.5rem;
}

.previous {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
span {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5rem 2px;
  border-radius: 50%;
}
.dot0 {
  background-color: var(--dark-blue);
}
.dot1 {
  background-color: var(--blue-green);
}
.dot2 {
  background-color: var(--ligth-blue);
}
.dot3 {
  background-color: var(--green);
}
.dot4 {
  background-color: var(--light-green);
}

.importante{
  height: 150vh;
}



@media (min-width: 768px) {
  section {
    flex-direction: column;
  }

  section:not(.hero):not(.importante):not(.footer){
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .hero {
    flex-direction: row;
  }
  .hero-google-play {
    width: 20%;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .propuesta {
    flex-direction: row;
    height: 50%;
  }
  h1 {
    margin-top: 2rem;
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
  }
  .google-play img {
    width: 30%;
  }

  iframe{
    width: 35rem;
    height: 20rem;
  }
  p{
    font-size: 1.1rem;
  }
  .importante p{
    margin: 0.5rem 4rem;
  }
  .importante-one img{
    width: 40%;
    border-radius: 20px 0 0 20px;
  }
  .importante-two img {
    width: 40%;
    border-radius: 0 20px 20px 0;
  }
  .footer{
    flex-direction: row;
    height: 10vh;
    background-color: var(--blue);
    border-radius: 50px 50px 0 0;
    border: 0.5px solid var(--ligth-blue);
    padding: 0.5rem 4rem;
    justify-content: center;
  }
  .footer div{
    flex-direction: column;
    margin: 0 0.5rem
  }
  .footer p{
    font-weight: bold;
    color: var(--white);
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px var(--dark-blue);

  }
  .footer img{
   width: 10rem;
  }
}
@media (max-width: 768px){
  .hero{
    flex-direction: column;
  }
  img{
    width: 10%;
  }
  iframe{
    width: 10rem;
    height: 10rem;
  }
  .footer{
    display: none;
  }
}