* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

/* @media (max-width: 480px) {
  .titulo {
    margin-top: 72% !important;
  }

  .titulo-1 {
      margin-top: -10px !important;
    }
    
    .subtitulo-1 {
        margin-top: -40px !important;
        margin-bottom: -10px !important;
    }
    iframe {
        width: 90% !important;
    }
} */

/* @media screen and (max-width: 800px) {
  .img-nombre {
    margin-top: 40px;
    margin-left: 5%;
  }

  .subtitulo {
    text-align: center;
    margin-top: 100px;
    color: #0a1944;
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  .subtitulo-1 {
    text-align: center;
    margin-top: 100px;
    color: #0a1944;
    font-size: 1.1rem;
    margin-bottom: 40px;
    padding: 50px;
  }
  .badge-play img {
    width: 70%;
    height: 70%;
  }
  .video {
    height: 300px;
    text-align: center;
  }
  .titulo-contenido {
    text-align: center;
  }

  .img-imp-1 {
    width: 90%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      ),
      url("images/smaug.jpg");
    background-position: center;
    height: 100%;
    height: 400px;
    background-size: cover;
    padding: 17px;
    margin-left: 17px;
  }
  .overlay-imp-izq,
  .overlay-imp-der {
    position: relative;
    margin-top: -190px;
    margin-left: 55px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    width: 70%;
    color: #2e2e2e;
  }
  .img-imp-2 {
    width: 90%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      ),
      url("images/steps.jpg");
    background-position: center;
    height: 100%;
    height: 400px;
    background-size: cover;
    padding: 17px;
    margin-left: 17px;
  }
  .logo img {
    width: 306px !important;
    height: 60%;
    margin-top: 38px;
  }
  .menu {
    margin-top: 30% !important;
  }

  .importancia {
    margin-top: 200px;
  }
  .slider {
    width: 100% !important;
  }

  .slider {
    margin-left: 0% !important;
  }

  .nombre-testimonio {
    margin-top: -60px !important;
    margin-left: 49% !important;
    font-size: 2.4rem !important;
  }
  .parrafo-testimonio {
    margin-top: 40px;
    margin-left: 7% !important;
  }
} */

/* @media screen and (max-width: 1024px) {
  .footer {
    display: none;
  }
  .titulo-footer {
    display: none !important;
  }
  .footer h1 {
    display: none !important;
  }
  .footer h2 {
    display: none !important;
  }
  .titulo-header {
    display: none !important;
  }

  .dejar-fumar h1 {
    display: none !important;
  }
  .dejar-fumar h2 {
    display: none !important;
  }

  .badge-footer img {
    display: none !important;
  }
} */

/* @media screen and (min-width: 1024px) {
  .footer {
    background-color: #0092fd;
    border-radius: 75px 75px 0px 0px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .titulo {
    margin-left: 25%;
    margin-top: 20% !important;
  }

  .titulo-1 {
    margin-left: 25%;
  }

  .titulo-footer {
    text-align: center;
  }
  .footer h1 {
    color: white;
    font-size: 2.5rem;
  }
  .footer h2 {
    color: white;
    font-size: 2.4rem;
  }
  .titulo-header {
    text-align: center;
  }

  .dejar-fumar h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .dejar-fumar h2 {
    font-size: 2.4rem;
    text-align: center;
    color: white;
  }

  .badge-footer img {
    float: center;
    width: 80%;
    height: 80%;
  }
} */

/* @media screen and (min-width: 800px) {
  .titulo {
    text-align: center;
    margin-top: 15%;
  }
  .titulo-1 {
    text-align: center;
    margin-top: 150px;

    margin-bottom: 20px;
  }

  .titulo h1 {
    font-size: 3.5rem;
  }

  .subtitulo {
    text-align: center;
    margin-top: 200px;
    color: #0a1944;
    font-size: 1.5rem;
  }
  .subtitulo-1 {
    text-align: center;
    margin-top: 40px;
    color: #0a1944;
    font-size: 1.5rem;
  }
  .subtitulo, .subtitulo-1 h2{
        font-size: 2rem!important;
    }

  .badge-play {
    margin-top: -200px;
  }

  .titulo-contenido {
    text-align: center;
    margin-top: 30px;
    margin-left: 25%;
  }
  .titulo-contenido h1 {
    font-size: 4rem;
  }
  .badge-play img {
    width: 30%;
    height: 30%;
  }
  .video {
    height: 400px;
  }
  .img-imp-1 {
    width: 30%;
    background-image: url("images/smaug.jpg");
    background-position: center;
    height: 20%;
    height: 400px;
    background-size: cover;
    padding: 17px;
    float: right;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 200px;
  }

  .img-imp-2 {
    width: 30%;
    background-image: url("images/steps.jpg");
    background-position: center;
    height: 20%;
    height: 400px;
    background-size: cover;
    padding: 17px;
    float: left;
    border-radius: 0px 20px 20px 0px;
  }
  .overlay-imp-der {
    font-size: 1.1rem;
    padding: 12px;
    width: 20%;
    margin-left: 50%;
    margin-top: -11px;
  }

  .overlay-imp-izq {
    font-size: 1.1rem;
    padding: 12px;
    width: 27%;
    margin-left: 31%;
    margin-top: -11px;
  }
} */

/* @media (max-width: 1024px) {
  .logo img {
    width: 40% !important;
    height: 40% !important;
  }
  .badge img {
    width: 252px !important;
    height: 40% !important;
  }
  .titulo-1 {
    margin-left: 0;
  }
  .slider li img {
    width: 40% !important ;

    border-radius: 30px !important;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 100% !important;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -10px !important;
    display: none !important;
  }
} */

body {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
}

.header {
  background: linear-gradient(to bottom, #0094fd48, #0a19444b),
    url("images/image-header-3.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 600px;
  border-radius: 0px 0px 40px 40px;
}

.logo {
  text-align: center;
}

@media (max-width: 768px) {
  .logo img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .logo img {
    width: 60%;
  }
}

.badge {
  text-align: center;
}
.badge img {
  width: 50%;
  height: 50%;
}

.titulo {
  text-align: center;
  margin-top: 15%;
}
.titulo h1 {
  font-size: 3rem;
  color: #0092fd;
}

.titulo-1 {
  text-align: center;
  margin-top: 300px;
}
.titulo-1 h1 {
  font-size: 3rem;
  color: #0092fd;
}

.titulo-contenido h1 {
  font-size: 3rem;
  color: #0092fd;
}

.prueba {
  text-align: center;
}

.imagen-propuesta-1 {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, #0092fd4d, #0a1944),
    url("images/propuesta-01.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.imagen-propuesta-2 {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, #0092fd4d, #0a1944),
    url("images/propuesta-02.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
.imagen-propuesta-3 {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, #0092fd4d, #0a1944),
    url("images/propuesta-03.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
.overlay {
  position: relative;
  color: white;
  font-family: sans-serif;
  margin-top: -80px;
  margin-left: 5px;
  font-size: 2rem;
}

.badge-play {
  margin-top: -140px;
}

.video iframe {
  border-radius: 30px 30px 30px 30px;
}

.overlay-imp-izq,
.overlay-imp-der {
  color: #2e2e2e;
}

.slider {
  margin-left: 15%;
}
.slider li img {
  width: 100%;
  height: 100%;
  border-radius: 75px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
  background: #fff;
  transition: opacity 0.5s;
}
ul.slider li:first-child {
  display: block;
}

ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
.titulo-footer {
  margin-left: 90px;
  margin-top: -10px;
}
.titulo-footer img {
  width: 100%;
  height: auto;
}

.nombre-testimonio {
  color: #0b1944;
  font-size: 3rem;
  margin-top: -2px;
  margin-left: 20px;
}

.parrafo-testimonio {
  color: #2e2e2e;
  font-size: 1.5rem;
  margin-left: 20px;
  max-width: 70%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -70px;
}
.next {
  margin-left: 800px;
  border-radius: 3px 0 0 3px;
}
.slider-img {
  display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
