*{
    
    font-family: sans-serif;
}

.header{
   
    background: linear-gradient(to bottom, #0092FD4D, #0A1944),
    url("images/image-header-3.jpg");
    background-position: right;
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 75px 75px;
    margin-bottom: 300px;
}
.logo{
    text-align: center;
}
.logo img{
    width: 60%;
    height: 60%;
    
}

.badge{
    text-align: center;
}
.badge img{
    width: 60%;
    height: 60%;
}

.titulo{
    text-align: center;
    margin-top: 300px;
    
}
.titulo h1{
    font-size: 3rem;
    color: #0092FD;
}

.titulo-contenido h1{
    font-size: 3rem;
    color: #0092FD;
}

.prueba{
    text-align: center;
}

.imagen-propuesta-1{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #0092FD4D, #0A1944),
    url('images/propuesta-01.jpg');
    background-size: cover;
    background-position: center;

}

.imagen-propuesta-2{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #0092FD4D, #0A1944),
    url('images/propuesta-02.jpg');
    background-size: cover;
    background-position: center;

}
.imagen-propuesta-3{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #0092FD4D, #0A1944),
    url('images/propuesta-03.jpg');
    background-size: cover;
    background-position: center;

}
.overlay{
    position: relative;
    color: white;
    font-family: sans-serif;
    margin-top: -90px;
    margin-left: 5px;
    font-size: 2rem;
}

.badge-play{
    margin-top: -140px;
}

.video iframe{
    border-radius: 30px 30px 30px 30px;
}

@media screen and (max-width: 800px){

    .subtitulo{
        text-align: center;
        margin-top: 100px;
        color: #0A1944;
        font-size: 1.5rem;
    }
    .badge-play img{
        width: 80%;
        height: 80%;
    }
    .video{
        height: 300px;
    }
    .titulo-contenido{
        text-align: center;
    }

    .img-imp-1{
        width: 90%;
        background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
            url('images/smaug.jpg');
            background-position: center;
        height: 100%;
        height: 400px;
        background-size: cover;
        padding: 17px;
    }
    .overlay-imp{
        position:relative;
        margin-top: -190px;
        margin-left: 5px;
        font-size: 1.5rem;
    }
    .img-imp-2{
        width: 90%;
        background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
            url('images/steps.jpg');
            background-position: center;
        height: 100%;
        height: 400px;
        background-size: cover;
        padding: 17px;
    }
    .logo img{
        width: 60%;
        height: 60%;
        margin-top: 100px;
    }
    .menu{
        margin-top: 300px !important;
    }
    
    .slider li img{
        width: 100% !important ;
       
        border-radius: 75px;
    }
    
    .importancia{
        margin-top: 600px;
    }
    .slider{
        width: 100% !important;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 100%!important;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        margin-left: -10px !important;
      }
      .slider{
        margin-left: 0%!important;
    }
    .next {
        margin-left: 80px!important;
        border-radius: 3px 0 0 3px;
      }
}
 
@media screen and (max-width: 1026px ){
    .footer{
        display: none;
    }
}

@media screen and (min-width: 800px){
    .titulo{
        text-align: center;
        margin-top: 300px;
        margin-left: 25%;  
    }

    .titulo h1{
        font-size: 4rem; 
    }

    .subtitulo{
        text-align: center;
        margin-top: 200px;
        color: #0A1944;
        
    }
    .subtitulo h2{
        font-size: 3rem;
    }

    .badge-play{
        margin-top: -200px;
    }

    .titulo-contenido{
        text-align: center;
        margin-top: 30px;
        margin-left: 25%;
    }
    .titulo-contenido h1{
        font-size: 4rem; 
    }
    .badge-play img{
        width: 30%;
        height: 30%;    
    }
    .video{
        height: 600px;
    }
    .img-imp-1{
        width: 30%;
        background-image:url('images/smaug.jpg');
            background-position: center;
        height: 20%;
        height: 400px;
        background-size: cover;
        padding: 17px;
        float: right;
        border-radius: 75px 0px 0px 75px ;
        margin-bottom: 200px;
    }

    .img-imp-2{
        width: 30%;
        background-image:url('images/steps.jpg');
            background-position: center;
        height: 20%;
        height: 400px;
        background-size: cover;
        padding: 17px;
        float: left;
        border-radius: 0px 75px 75px 0px ;
    }
    .overlay-imp{
        font-size: 1.8rem;
        padding: 12px;
    }
    .footer{
        background-color: #0092FD ;
        border-radius: 75px 75px 0px 0px;
    }


    .titulo-footer{
        text-align: center;
    }
    .footer h1{
        color: white;
        font-size: 2.5rem;
    }
    .footer h2{
        color: white;
        font-size: 2.4rem;
    }
    .titulo-header{
        text-align:center;
    }

    .dejar-fumar h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .dejar-fumar h2{
        font-size: 2.4rem;
        text-align: center;
        color: white;
    }
    
    .badge-footer img{
        float: center;
        width: 80%;
        height: 80%;
    }

    
}

.slider{
    margin-left: 15%;
}
.slider li img{
    width: 100%;
    height: 100%;
    border-radius: 75px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    background:#fff;
    transition: opacity .5s;
   
    
}
/* ul.slider li:first-child{
    display: block;
} */

/* ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
/*}*/

/* ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
/* }  */ 


/* .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  } */

/* .menu li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(0.9turn, #B9E67E,#00EDFF,#0B1944);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  } */

  .nombre-testimonio{
    color: #0B1944;
    font-size: 3rem;
    margin-top: -2px;
    margin-left: 20px;

  }

  .parrafo-testimonio{
    color: #440b0b;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -70px;
  }
  .next {
    margin-left: 800px;
    border-radius: 3px 0 0 3px;
  }
  .slider-img {
    display: none;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;                           
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }